<section style="overflow-x: auto;">
  <table style="white-space: nowrap;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Batteries</th>
        <th>Rendering</th>
        <th>Styling</th>
        <th>Frontend <br>Framework</th>
        <th>Pricing</th>
        <th>Activity <br>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for tool in site.data.rails_ui_tools %}
        <tr>
          <td>
            <img src="https://www.google.com/s2/favicons?sz=16&domain_url={{ tool.url }}" alt="{{ tool.name }}" width="16" height="16" style="vertical-align: text-top;"/>
            <a href="{{ tool.url }}">{{ tool.name }}</a>
          </td>
          <td>{{ tool.batteries }}</td>
          <td>{{ tool.rendering }}</td>
          <td>{{ tool.styling }}</td>
          <td>{{ tool.frontend }}</td>
          <td>{{ tool.pricing }}</td>
          <td>{{ tool.active }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
