

<section x-data="commentsPanel()">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Links</th>
        <th>Batteries</th>
        <th>Integration</th>
        <th>Styling</th>
        <th>Frontend Framework</th>
        <th>Pricing</th>
        <th>Actively maintained</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">Primer Design System</td>
        <td><a href="https://primer.style/">Website</a>, <a href="https://github.com/primer/css">GitHub</a></td>
        <td>Full design system, CSS framework, Icons, Components</td>
        <td>
          React<br>
          ViewComponent
        </td>
        <td></td>
        <td>React</td>
        <td>Open Source</td>
        <td>Yes</td>
      </tr>
      <tr rowspan="2" class="comment-row">
        <!-- @click syntax not being recognized as HTML -->
        <td colspan="7"
          x-data="toolReactions('primer')"
          x-show="!isLoading"
          x-on:click="openCommentsPanel('primer')"
          x-on:click.stop
        >
          <div class="flex">
            <!-- Comments Count -->
            <div class="flex items-center space-x-8">
              <span class="font-semibold space-x-1">💬</span>
              <span x-text="commentsCount || 0" class="text-gray-700"></span>
            </div>
            <!-- Emoji Reactions -->
            <template x-for="(data, name) in reactions">
              <div class="flex items-center space-x-4">
                <span x-text="getEmoji(name)" class="space-x-1"></span>
                <span x-text="data.count || 0" class="text-gray-700"></span>
              </div>
            </template>
          </div>
        </td>
      </tr>

      <tr>
        <td rowspan="2">Polaris</td>
        <td><a href="https://railsdesigner.com/">Website</a></td>
        <td>UI Components, Templates, Design System</td>
        <td>Ruby on Rails</td>
        <td>CSS, TailwindCSS</td>
        <td>Hotwire</td>
        <td>Commercial</td>
        <td>Yes</td>
      </tr>
      <tr rowspan="2" class="comment-row">
        <!-- @click syntax not being recognized as HTML -->
        <td colspan="7"
          x-data="toolReactions('polaris')"
          x-show="!isLoading"
          x-on:click="openCommentsPanel('polaris')"
          x-on:click.stop
        >
          <div class="flex">
            <!-- Comments Count -->
            <div class="flex items-center space-x-8">
              <span class="font-semibold space-x-1">💬</span>
              <span x-text="commentsCount || 0" class="text-gray-700"></span>
            </div>
            <!-- Emoji Reactions -->
            <template x-for="(data, name) in reactions">
              <div class="flex items-center space-x-4">
                <span x-text="getEmoji(name)" class="space-x-1"></span>
                <span x-text="data.count || 0" class="text-gray-700"></span>
              </div>
            </template>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Offcanvas Side Panel -->
  <div
    id="comments-panel"
    class="fixed top-0 right-0 h-full w-128 p-4 bg-white shadow-lg transition-transform"
    x-bind:class="isPanelOpen ? 'translate-x-0' : 'translate-x-full'"
    x-on:click.away="closeCommentsPanel()"
    x-on:click.stop
    x-cloak
  >
    <a
      x-on:click="closeCommentsPanel()"
      class="absolute top-4 right-4 text-gray-500 hover-underline hover-pointer"
    >
      X
    </a>

    <h3><span x-text="selectedTool"></span></h3>
  </div>

</section>
