body > header > div.wrapper {
  max-width: calc(1280px - 30px * 2);
}

body > main > div.wrapper {
  max-width: calc(1280px - 30px * 2);
}

body > footer > div.wrapper {
  max-width: calc(1280px - 30px * 2);
}

h2 { margin-top: 2rem; }

table {
  width: unset;
  margin-bottom: 0;
}
